.header__head {
  margin-top: 16px;
}

.header__logo {
  max-width: 100%;
}

.header__logo,
.header__slogan {
  margin-top: 16px;
  text-align: center;
}

.header__slogan p {
  font-size: 15px;
  font-style: italic;
}

.header__nav {
  width: 100%;
  height: 60px;
  margin-top: 26px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px #ccc;
  background-color: #dbdbdb;
}

.header__nav-item {
  height: inherit;
  border-radius: 2px;
  margin: 0 12px;
  list-style-type: none;
  display: inline-block;
}

.header__nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #09640698;
  font-weight: 600;
  line-height: 32px;
}

.content {
  margin: 16px 0 0 32px;
}

.content__heading {
  margin: 16px 0 16px;
}

.content__author {
  max-width: 300px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.content__main {
  text-align: justify;
  max-width: 960px;
}

.content__img {
  margin: 16px 0;
}
